{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="{% static 'mainpage/css/global.css' %}">
    <link rel="stylesheet" href="{% static 'questions/css/final.css' %}">
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=JetBrains Mono:wght@400;700&display=swap"
    />
  </head>
  <body>
          
    <svg style="display: none;">
    <defs>
      <filter id="pixel-glitch">
        <feTurbulence type="fractalNoise" baseFrequency="0.00001 0.1" numOctaves="1" result="warp" />
        <feDisplacementMap xChannelSelector="R" yChannelSelector="G" scale="80" in="SourceGraphic" in2="warp" />
      </filter>
    </defs>
  </svg>

  <div class="pixel-loader"></div>

    <div class="final2">
      <main {% if endings.id == 4 %} class="frame_green" {% elif endings.id == 3 %} class="frame_blue" {% elif endings.id == 2 %} class="frame_yellow" {% else %} class="frame_red" {% endif %}>
        <section class="auto-layout">
          <header class="auto-layout2">
            <div class="auto-layout3">
              <div class="simulation-terminated">SIMULATION TERMINATED</div>
            </div>
            <div class="auto-layout4">
              <h1 class="ending-independent-success">
                ENDING: {{ endings.title  }}
              </h1>
            </div>
          </header>
        </section>
        <section class="auto-layout5">
          <div class="auto-layout6">
            <div class="auto-layout7">
              <div class="auto-layout3">
                <div class="final-grade">FINAL GRADE</div>
              </div>
              <div class="final_green btn_color btn_active" >
                <h3 class="high">
                    {% if character.grade == 0 %}
                    [INITIALIZING...]
                    {% elif character.grade < 0 %}
                    LOW
                    {% else %}
                    HIGH
                    {% endif %}</h3>
              </div>

            <div class="final_red btn_color" >
                <h3 class="high">FAILING</h3>
              </div>

            <div class="final_yellow btn_color" >
                <h3 class="high">HIGH</h3>
              </div>
            </div>
            <button class="auto-layout10">
              <div class="auto-layout3">
                <div class="social-ability">SOCIAL ABILITY</div>
              </div>
              <div class="final_blue btn_color btn_active">
                <b class="connected">
                    {% if character.social_life == 0 %}
                    [INITIALIZING...]
                    {% elif character.social_life < 0 %}
                    LOW
                    {% else %}
                    HIGH
                    {% endif %}
                </b>
              </div>

            <div class="final_red btn_color ">
                <b class="connected">ISOLATED</b>
              </div>
            </button>
            <div class="auto-layout7">
              <div class="auto-layout3">
                <div class="final-grade">AI DEPENDENCE</div>
              </div>
              <div class="final_green btn_color btn_active">
                <h3 class="high">
                  {% if character.dependence == 0 %}
                  [INITIALIZING...]
                  {% elif character.dependence < 0 %}
                  LOW
                  {% else %}
                  HIGH
                  {% endif %}
                  </h3>
              </div>

            <div class="final_yellow btn_color">
                <h3 class="high">HIGH</h3>
              </div>

            <div class="final_red btn_color">
                <h3 class="high">CRITICAL</h3>
              </div>
            </div>
          </div>
        </section>
        <main class="content-area">
          <div class="frame-parent">
            <div class="frame2">
              <div class="auto-layout16">
                <div class="auto-layout3">
                  <div class="lorem-ipsum-dolor">
                    {{ endings.description  }}
                  </div>
                </div>
             
              </div>
            </div>
            <div class="auto-layout20">
              <button class="auto-layout21" id="autoLayout4">
              <div class="restart-system">[ RESTART SYSTEM ]</div>
              </button>
              <button class="auto-layout22" id="autoLayout5">
              <a href = '/'><div class="main-menu">MAIN MENU</div></a>
              </button>
            </div>
          </div>
        </main>
      </main>
    </div>

    <script>
      var autoLayout4 = document.getElementById("autoLayout4");
      if (autoLayout4) {
        autoLayout4.addEventListener("click", function (e) {
          // Please sync "Auto layout" to the project
        });
      }
      
      var autoLayout5 = document.getElementById("autoLayout5");
      if (autoLayout5) {
        autoLayout5.addEventListener("click", function (e) {
          // Please sync "Auto layout" to the project
        });
      }
      </script>
  </body>
</html>
